@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body:-webkit-full-screen,
body:-moz-full-screen,
body:-ms-fullscreen,
body:fullscreen {
  overflow: hidden;
}

body:-webkit-full-screen > *:not(.p5Canvas),
body:-moz-full-screen > *:not(.p5Canvas),
body:-ms-fullscreen > *:not(.p5Canvas),
body:fullscreen > *:not(.p5Canvas) {
  display: none;
}
